/* общие */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background: #fff;
  --button-bgc: #f5f4fa;
  --hover-text: #fff;
}
body {
  background-color: var(--primary-background);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}
.title {
  color: var(--title-text-color);
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid tomato; */
}
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* навигация */
.page {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  /* border-bottom: 1px solid #ececec; */
}
.line {
  border-bottom: 1px solid #ececec;
}
.page .container {
  display: flex;
  align-items: center;
}
.page-nav {
  display: flex;
  align-items: center;
}
.page-nav-list {
  display: flex;
  margin-left: 93px;
}
.page-nav-list .item {
  /* border: 1px solid tomato; */
  margin-right: 50px;
}
.page-nav-list .item:last-child {
  margin-right: 0;
}
.page-nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav-list .link.current {
  position: relative;
  color: var(--accent-color);
}
.link.current::after {
  position: absolute;
  bottom: 0;
  left: 0;

  content: '';
  display: block;

  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--accent-color);
}
.contacts {
  display: flex;
  margin-left: auto;
}
.contacts .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts .item {
  /* border: 1px solid tomato; */
  margin-right: 50px;
}

.mail-icon,
.phone-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts .item:last-child {
  margin-right: 0;
}
.contacts .link {
  display: inline-flex;
  align-items: center;

  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-nav-list .link:hover,
.page-nav-list .link:focus,
.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}
.page-nav-logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}
.first-part-logo {
  color: var(--accent-color);
}
.second-part-logo {
  color: #000000;
}
/* секция герой */
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  background-color: #2f303a;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
}
.hero-button {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  font-family: inherit;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hover-text);
  cursor: pointer;
}
/* преимущества */
.thumb {
  display: inline-flex;
  align-items: center;
  width: 270px;
  height: 120px;
  /* outline: tomato solid 1px; */
  margin-bottom: 30px;
  background-color: #f5f4fa;
}
.advantages-list {
  display: flex;
}
.advantages-list .item {
  width: 270px;
}
.advantages-list .item:not(:last-child) {
  margin-right: 30px;
}
.advantages .title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.advantages .text {
  font-size: 14px;
  line-height: 1.71;
}
/* чем мы занимаемся и команда*/
.possibilities-list {
  display: flex;
}
.possibilities-list .item:not(:last-child) {
  margin-right: 30px;
}
.possibilities {
  padding-top: 0;
}
.possibilities-list img {
  vertical-align: bottom;
}
.possibilities-title {
  margin-bottom: 50px;
}

.possibilities-list .item {
  position: relative;
}
.label {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background: rgba(47, 48, 58, 0.8);
  color: #ffffff;
}
.social {
  display: flex;
  justify-content: center;
  /* padding-bottom: 30px; */
}
.icon-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-item .link:hover,
.icon-item .link:focus {
  border-radius: 50%;
  background-color: var(--accent-color);
  fill: var(--hover-text);
}
.social .icon-item:not(:last-child) {
  margin-right: 10px;
}
.icon-item .icon {
  width: 20px;
  height: 20px;
}
.team-list {
  display: flex;
}
.team-list .item {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-list .item:not(:last-child) {
  margin-right: 30px;
}
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;
}
.card-bottom {
  padding-top: 30px;
  padding-bottom: 30px;
}
.possibilities-title,
.team-title,
.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}
.team-list .title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}
.team-list .profession {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

/* Клиенты */
.clients-list {
  display: flex;
}

.clients-title {
  margin-bottom: 50px;
}

.clients-list .link {
  display: inline-flex;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list .link:hover,
.clients-list .link:focus {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

/* футер */
footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
.page-address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}
.page-address .address {
  margin-bottom: 9px;
}
.page-address .item:not(:last-child) {
  margin-bottom: 9px;
}
.page-address .link {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.page-address .link:hover,
.page-address .link:focus {
  color: var(--accent-color);
}

.social-list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #fff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list .link:hover,
.social-list .link:focus {
  background-color: var(--accent-color);
}
.footer .social-list .item:not(:last-child) {
  margin-right: 10px;
}

footer .second-part-logo {
  color: var(--hover-text);
}
.footer .page-nav-logo {
  display: block;
  margin-bottom: 20px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}
.social-block {
  margin-left: 70px;
  /* margin-top: 12px; */
}

.social-block-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--hover-text);
}

.footer .social-list {
  display: inline-flex;
}

.input-block{
  margin-left: 93px;
}

.footer-btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding-left: 27px;
   border-radius: 4px;
  font-style: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: left;
  letter-spacing: 0.06em;
  border-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--hover-text);

  background-color: var(--accent-color);
}

.btn-icon {
  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url('../images/svg/icon-send.svg');
}

.call-text{
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background);
}

.footer-input{
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: none;
  color: var(--primary-background);
}



/* для портфолио */
.portfolio-filter {
  display: flex;
  justify-content: center;
}
.portfolio-filter .item:not(:last-child) {
  margin-right: 8px;
}
.portfolio-filter {
  margin-bottom: 50px;
}
.portfolio .button {
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  min-width: 73px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--button-bgc);
  color: var(--title-text-color);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio .button:hover,
.portfolio .button:focus {
  background-color: var(--accent-color);
  color: var(--hover-text);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.product-thumb {
  position: relative;
  overflow: hidden;
}
.product-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  background-color: rgba(33, 150, 243, 0.9);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list .link:hover .product-overlay,
.portfolio-list .link:focus .product-overlay {
  transform: translateY(0);
}

.thumb-description {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 322px;
  height: 168px;
  color: var(--primary-background);

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  z-index: 2;
}

.portfolio-list img {
  vertical-align: bottom;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list .item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.portfolio-list .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  color: inherit;
}

.portfolio-list .link:hover,
.portfolio-list .link:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.bottom-part {
  border: 1px solid #eeeeee;
  border-top: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
.portfolio-list .item:nth-child(3n) {
  margin-right: 0;
}
.portfolio-list .item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio .title {
  margin-bottom: 4px;
  /* margin-left: 24px; */

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio .description {
  /* margin-bottom: 20px;
  margin-left: 24px; */
  font-size: 16px;
  line-height: 1.87;
}

/* --MODAL-WINDOW-- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  min-height: 581px;
  /* padding: 8px; */

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  width: 30px;
  height: 30px;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.close-btn:hover .close-icon,
.close-btn:focus .close-icon {
  fill: var(--accent-color);
  cursor: pointer;
}

.close-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----FORM------ */

.form-title {
  margin-top: 40px;
  margin-bottom: 12px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding-left: 41px;
  padding-right: 39px;
}

.form-field {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  margin-bottom: 10px;
}

.form-input:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus ~ .form-label {
  fill: var(--accent-color);
}
.form-label,
.comment-label {
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form-input {
  display: inline-block;
  padding-left: 42px;
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.input-icon {
  position: absolute;
  bottom: 11px;
  left: 12px;
}
.comment-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-comment {
  display: inline-block;
  resize: none;
  padding: 12px 16px;
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  
  outline: none;
}
.form-comment:focus {
  border-color: var(--accent-color);
}
.form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-check {
    margin-bottom: 30px;
    }

.checkbox-label {
  display: flex;
  align-items:center;
  margin-left: 13px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  
}

.checkbox-label a {
  color: var(--accent-color);
}

.check-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  
}

.check-input:checked + .check-icon{
  width: 16px;
  height: 15px;
  margin-right: 7px;
  background-image: url('../images/svg/check-actv.svg');
  background-position: center;
  border-color:var(--accent-color);
}
 


.check-icon{
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid black;
  border-radius: 2px;
  /* background-image: url('../images/svg/check-pass.svg'); */
  transform: translateY(-1px);
}


.check-input:focus+.check-icon{
  border-color:var(--accent-color);
}



.sub-btn {
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;

  font-style: inherit;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  border-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--hover-text);

  background-color: var(--accent-color);
}

